/*This container includes our table and our canvas.*/
.center-container {
    /*This property sets the width of our container.*/
    width: 608px;
    /*This property centers our container on the page.*/
    margin: 0 auto;
    /*50px down from the top of the page.*/   
    margin-top: 50px;
    position: center;
}
    table{
    /*This property collapses table borders into a single border.*/
        border-collapse:collapse;
    /*This hides outer borders on table.*/
        border-style: hidden;
    }
    td {
    /*This property sets the width of each table cell.*/
      cursor:pointer;
      /*This property sets our table border style.*/
        border: 4px solid rgba(3, 20, 252, 0.8);
      /*This property removes default padding.*/
        padding:0px;
        width: 200px;    
        height: 200px;
        filter: contrast(3);
    }
    canvas {
    /*This property sets the border style for our canvas.*/
    position: absolute;
    /*This property places the canvas on top of other elements.*/
    z-index: 10;
    /*This property makes our canvas invisible.*/
    pointer-events: none;
    }