html {
    font-size: 70%;
    box-sizing: border-box;
}
*,*::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

.calculator {
    width: 500px;
    top: 50%;
    left: 50%;
    border: 1.2px solid darkslategray;
    border-radius: 7px;
    transform: translate(-50%, -50%);
    position: absolute;
}
.calculator-screen {
    width: 100%;
    height: 80px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 5rem;
    background-color: black;
    color: #f0f0f0;
    border-radius: 7px 7px 0px 0px;
    border: none;
}
button {
    
    height: 70px;
    font-size: 3.2rem;
    border: 1px solid darkslategray;
    background-color: transparent;
    border-radius: 3px;
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50% rgba(0, 0, 0, 0.6));
    text-shadow: 0 1px 1px rgba(255, 255, 255, .4);
    /*Each value below is sepated by a coma ',' after the rgba value */
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .4), 
    inset 0 1px 0px rgba(255, 255, 255, 0.5),
    inset 0 1px 0px rgba(255, 255, 255, 0.5),
    0 1px 0px rgba(255, 255, 255, 0.5);
}

button:hover {
    background-color: #e1e1e1;
  
}

.operator {
    background-color: lightgray;
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50% rgba(0, 0, 0, 0.5));

}
.all-clear {
    background-color:red;
    color: white;
    border-color: darkslategray
    }
.equal-sign {
    background-color: blue;
    color: #fff;
    border-color: darkslategray;
    height: 100%;
    grid-area: 2/4/6/5;
}
.equal-sign:hover {
    background-color: rgb(89, 0, 255);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

